<h3> Name: </h3>
<input type="text" [(ngModel)]="model.title" />
<h3> Description: </h3>
<input type="text" [(ngModel)]="model.description" />

<h3>Questions</h3>
<div *ngFor="let questionModel of model.questions">
    Question text:
    <input type="text" [(ngModel)]="questionModel.question" />
    Explanation:
    <input type="text" [(ngModel)]="questionModel.explanation" />
    <div *ngFor="let answer of questionModel.answers">
        Answer description:
        <input type="text" [(ngModel)]="answer.description" />
        <input type="checkbox"
               [(ngModel)]="answer.isCorrect"
               [ngModelOptions]="{standalone: true}" /> `
    </div>
    <button (click)="addAnswer(questionModel)">Add answer</button>
</div>

<button (click)="addQuestion()">Add question</button>
<button (click)="createNewExam()">{{isEditMode ? "Save" : "Create"}}</button>


