
<div class="container">
    <h3>{{exam.title}}: <span *ngIf="!this.isFinishedTest">{{timeLeft}}</span></h3>
</div>

<mat-card class="container" *ngIf="!isFinishedTest else resultsTemplate">
    <mat-card class="question-form-container">
        <mat-card-content>
            <h3>{{questions[curQuestionIdx].question}}:</h3>
            <li *ngFor="let answer of questions[curQuestionIdx].answers">
                <span class="choice-container">
                    <input type="radio" name="answer" (click)="setAnswer(answer);" />
                    <span>{{answer.description}}</span>
                </span>
            </li>
        </mat-card-content>
    </mat-card>

    <div class="quiz">
        <div class="questions">
            <mat-card-actions align="center">
                <button mat-raised-button class="btn btn-success" color="primary" [disabled]="questionIdToAnswerMap.size === curQuestionIdx"
                        (click)="moveToNextQuestion()">
                    {{curQuestionIdx === questions.length ? 'View results' : 'Next'}}
                </button>
            </mat-card-actions>

        </div>
    </div>
</mat-card>

<ng-template #resultsTemplate>
    <summary-widget [exam]="exam" [questionIdToAnswerMap]="questionIdToAnswerMap"></summary-widget>
</ng-template>